body,p{ margin:0px; padding:0px;}
a{ text-decoration:none;}
a:hover,a:active{ text-decoration:none;}
ul,li,input{ list-style-type:none; margin:0px; padding:0px;}
.clear{ clear:both;}


.top_box{ width:100%; height:240px; background:url(../images/index_01.jpg) no-repeat; background-size:100%; text-align:center; position:relative; }
.top_box span{ font-size:40px; color:#FFF; display:block; padding-top:45px; padding-bottom:10px;}
.top_box span em{ font-style:normal;}
.top_box p{ width:100%;}
.top_box p em{ font-style:normal; display:inline-block; font-size:40px; width:80px; height:80px; border-radius:50%; background:#FFF; color:#054b89; line-height:80px; text-align:center; font-weight:bold; margin-right:10px; margin-left:10px;}
.top_box i{ position:absolute; top:15px; right:25px; color:#FFF; font-size:44px; display:inline-block;}

.xiaqi_box{ width:100%; height:54px; line-height:54px; padding:15px 0px; background:#27282c; color:#FFF; text-align:center;}
.xiaqi_box .qishu_box{ float:left; width:65%; text-align:right; font-size:40px; height:54px;}
.xiaqi_box .qishu_box em{ font-style:normal;}
.xiaqi_box .time_box{ float:left; width:192px; height:54px; background:url(../images/index_02.jpg) no-repeat left center;}
.xiaqi_box .time_box em{ font-style:normal; font-weight:bold;}
.xiaqi_box .time_box .left_time{ float:left; width:85px; height:54px; line-height:54px; text-align:center; color:#303030; font-size:40px;}
.xiaqi_box .time_box .right_time{ float:right; width:85px; height:54px; line-height:54px; text-align:center; color:#303030; font-size:40px;}

.index_box{ width:96%; margin:15px auto;}
.index_box .left_box{ float:left; width:48%;}
.index_box .right_box{ float:right; width:48%;}

.cqssc{ width:100%; border-radius:5px; background:#e1510a; color:#FFF; padding:64px 0px; text-align:center;}
.cqssc i{ font-size:96px; display:inline-block;}
.cqssc span{ line-height:48px; font-size:40px; display:inline-block; padding-left:10px; text-align:left;}

.jihuay{ width:100%; border-radius:5px; color:#FFF; padding:37px 0px; text-align:center; margin-top:15px; position:relative;}
.jihuay i{ font-size:48px; display:inline-block; font-weight:bold;}
.jihuay span{ line-height:48px; font-size:40px; display:inline-block; padding-left:10px; text-align:left;}
.jihuay span em{ font-style:normal; font-weight:bold; color:#ffff00;}
.jihuay span font{ font-style:normal; font-weight:bold; color:#00ff2a;}
.jihuay img{ position:absolute; width:46px; top:25px;}

.jihuay_a{background:#068a3b; }
.jihuay_b{background:#054b89; }
.jihuay_c{background:#6f0b99; }
.jihuay_d{background:#0c9381; }
.jihuay_e{background:#bb7d07; }
.jihuay_f{background:#c31802; }
.jihuay_g{background:#2b6cbc; }
.jihuay_h{background:#8a1e10; }
.jihuay_i{background:#9f0e85; }
.jihuay_j{background:#97500b; }


.remen_box{ width:100%; border-radius:5px; color:#FFF; padding:22px 0px; text-align:center; height:486px; background:#077ea0;}
.remen_box .top_remen{ float:left; font-size:40px; width:100%; height:50px; line-height:50px;}
.remen_box .top_remen i{ font-size:40px; margin-right:10px;}
.remen_box ul{ width:100%; float:left;}
.remen_box ul li{ float:left; width:94%; color:#FFF; line-height:45px; font-size:34px; text-align:center; border-bottom:1px dashed #045972; padding:9px 0px; margin-left:3%;}
.remen_box ul li font{color:#ffff00;}

.foot_img{ width:100%; margin-top:15px;}
.foot_img img{ width:100%; height:300px;}

.main_box{ width:96%; margin:15px auto;}
.go_home{ float:left; width:146px; height:115px; border-radius:5px; padding-top:20px; font-size:40px; line-height:50px; background:#da0000; color:#FFF; text-align:center; margin-right:20px;}
.go_home i{ font-size:50px;}
.go_title{ float:left; line-height:60px; font-size:45px; padding:10px 0px;}
.go_title p{ font-size:35px;}

.list_box{ width:100%; border-radius:5px; background:#e9e9e9; color:#000; padding:15px 0px;}
.list_box li{ width:94%; margin-left:3%; border-bottom:1px solid #FFF; padding:15px 0px; font-size:38px;}
.list_box li font{ color:#da0000;}
.list_ftbox{ width:94%; border-radius:5px; background:#da0000; color:#FFF; padding:15px 3%; font-size:32px; line-height:50px;}
.list_ftbox em{ font-style:normal; color:#ffff00;}

.active{background:#DA0000; color:#FFF;}

.foot_img{ float:left; width:100%; margin-top:15px; height:300px; margin-bottom:10px;}
.big_wrap,.big_wrap li{width:100%;height:300px;overflow:hidden;position:relative; z-index:0;}
.big_wrap li{position:absolute;display:none;}
.big_wrap li img{ width:100%; height:300px;}
.banBut{width:100%; height:26px; position:relative; z-index:1; margin-top:-26px;}
.small{height:11px; float:right; width:80px;}
.small li{float:left;cursor:pointer; width:11px; height:11px; background:url(../images/sprites-high3.png) no-repeat 0px -16px; margin-right:10px;}
.small .current{ background-position:0 -42px;}