@charset "utf-8";
ul,li{list-style: none;}
.logo_bg{display: inline-flex;}
.logo_bg a{float: left; line-height: 55px;}
.logo_bg .zmurl{color:#FFFF00; cursor: pointer; padding-left: 45px; margin-right: 10px; text-decoration: none; font-size: 14px; font-weight: bold;background: url(/room/images/header-icon.png) no-repeat 10px -6px;height:25px;line-height:25px;margin-top:14px;}
.logo_bg .navi{color: #b5b5b5; cursor: pointer; float: left; padding-left: 10px; padding-right: 9px; text-decoration: none; font-size: 14px; font-weight: bold; display:block;position:relative;}
.logo_bg .cjrl{background: transparent url(p01.png) no-repeat scroll 5px center;}
.logo_bg .vip{background: transparent url(viproom.png) no-repeat scroll 5px center; width: 115px; padding: 0;}
.logo_bg #navigation{width: 75px;display:block;font-size:14px;padding-left: 33px;margin: 3px 0 0 10px;background: rgba(0, 0, 0, 0) url(header-icon.png) no-repeat scroll 0px -32px;height: 40px;position: relative; line-height: 51px;}
#navigation span{width:8px;height:8px;display:block;background-position:21px -19px;float:right;margin:25px 5px 0 5px;background-image:url(t3.png);}
#navigation ul{display: none; position: absolute; left: 2px; top: 40px; padding-top:6px;text-align:center;padding-bottom:4px;width:100px;z-index:9999;background:rgba(30,30,30,0.85);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#851E1E1E,endColorstr=#851E1E1E)";filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#851E1E1E,endColorstr=#851E1E1E);}
#navigation ul li{height: 30px; line-height: 30px; overflow:hidden;}
#navShow li a:hover{text-decoration:underline !important;color:green !important}
.logo_bg .kefu{height: 17px; margin-top: 15px;}
.logo_bg .headerban{color: #eee; padding: 3px 7px 5px 12px; font-size: 14px;}
.logo_bg .headerban:hover{color: #ff0;}
#login_tip{left: 50%; margin-left: -300px; margin-top: -134px; position: absolute; top: 40%; z-index: 1000;width:600px;height:440px;}
.login_tip{}
.login_tip .kefu_list{position: absolute; left: 150px; top: 280px;font-size: 16px;line-height: 28px;width: 320px;}
.login_tip .tbs{position: absolute;left: 80px;bottom: 30px}
.login_tip .tbs a{display: block;
    height: 32px;
    width: 68px;
    text-align: center;
    color: #fff;
    float: left;
    text-decoration: none;
    padding: 0 10px;
    line-height: 32px;
    margin-left: 85px;
    font-size: 16px;}
.login_tip .tbs a.reg{background: #ffed00;
    border-radius: 2px;
    box-shadow: 0 0 2px #555;
    color: red;}
.login_tip .tbs a.login{background: #00b2ed;
    border-radius: 2px;
    box-shadow: 0 0 2px #555;}
/* position */
img {border:0px;}
.ption_r {position:relative;}
.ption_a {position:absolute;}
.f_left{float:left;}
.f_right{float:right;}
.clearfix{clear:both; _height:1px; overflow:hidden; *display:inline;}
.hid,.qqdiv{display:none;}
select,input{vertical-align:middle;}
select{height:20px; font-size:12px;}
html, body {font-size: 9pt; margin: 0px; color: #FFF; font-family: Microsoft Yahei, Verdana, Geneva, sans-serif; overflow: hidden;}
p {margin: 0px;}
.u {cursor: pointer; text-decoration: none; font-weight: bold; font-size: 14px;}
.date {color:#F0F8FF}
.OnLineUser {overflow: auto; position: relative;}
.OnLineUser li {list-style-type: none; float: left;}
.OnLineUser li img {border: 0px;}
.OnLineUser li a {line-height: 22px; padding: 1px; float: left; width: 232px; padding: 4px; cursor:default}
.OnLineUser li span {float: right; cursor: pointer;}
.OnLineUser li .sleepwalk{width: 20px; height: 14px; padding: 2px 0;}
.OnLineUser li .sleepwalk img{width: 14px; height: 14px;}
.OnLineUser li cite {float: left; padding-right: 3px; position: relative; height: 30px; overflow: hidden}
.OnLineUser li cite .head {height: 22px; width: 22px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;margin-top:4px}
.OnLineUser li cite .state {position: relative; margin-right: -15px; left: -13px; top: 3px;}
.OnLineUser li dt {height: 30px; line-height: 30px; width: 100px; overflow: hidden; float: left; margin: 0px; white-space: nowrap; text-overflow: ellipsis;font-size:13px}
.OnLineUser li dt code {color: #999; display: none}
.OnLineUser li dd {height: 20px; width: 45px; overflow: hidden; float: left; margin: 0px; display: none;}
.OnLineUser li dl {height: 20px; width: 170px; overflow: hidden; float: left; margin: 0px; color: #999; display: none;}
.OnLineUser li a:hover dt {width: 100px;}
.OnLineUser li a:hover {background:#F60}
.OnLineUser li .bts {padding:4px;  float:left;}
.OnLineUser li .bts  .osl{height:22px; line-height:22px; border:0px; background:#fa7838; text-align:center; width:40px; color:#fff}
.OnLineUser li .bts  .qsl{height:22px; line-height:22px; border:0px;text-align:center; width:75px; color:#fff; margin-left:10px; padding-left:10px; background:url(../../images/icon_qq.png) no-repeat; background-color:#09F; background-position: 4px 3px;}
.OnLineUser li .sn {padding:4px; float:left;}
.notice{height: 90px; line-height: 20px; padding: 0 10px; overflow: hidden; border-top: 1px dotted #FFF;}
.notice span{width: 150px; display: block; color: #000; background-color: #FFF; border-radius: 5px; margin: 3px 0px; padding: 3px 10px; word-break:keep-all; white-space:nowrap; overflow: hidden;}
#UI_MainBox {width: 100%; min-width: 1024px; height: 768px;}
#UI_Head {min-width: 910px; HEIGHT: 46px; margin-bottom: 10px;}
#UI_Head .head {min-width: 910px; height: 50px; background-image: url(../../images/png1.png);}
#UI_Head .logo_bg {width: auto; position: absolute; top: 0px; left: 0px; height: 50px; z-index: 1000; padding-left: 250px; line-height: 50px; font-size: 14px;vertical-align:middle}
#UI_Head #head_box {position: relative;}
#UI_Head #head_box .head_user {position: absolute; COLOR: #fffbe6; TOP: 12px; RIGHT: 9px}
#UI_Head #head_box .head_user .qqlogin{position: absolute; right: 200px; top: 3px;}
/*#UI_Head #head_box .head_user .reg{text-align: center;font-size: 14px;float: left;display: block;width: 70px;height: 32px;line-height: 32px;background: #F60;color: #FFF;}
#UI_Head #head_box .head_user .login{text-align: center;font-size: 14px;float: left;display: block;width: 70px;height: 32px;line-height: 32px;background: #6BC30D;color: #FFF;}*/
#UI_Head #head_box .head_user .reg,#UI_Head #head_box .head_user .login{text-align: center;color: #FFF;border-radius:15px;font-size: 15px;float: left;display: block;width: 80px;text-indent:1.5em;height:28px;line-height: 28px;}
#UI_Head #head_box .head_user .reg{background: #FF5423 url(n-icon-11.png) no-repeat 10px -25px; margin-right: 10px;}
#UI_Head #head_box .head_user .reg:hover{background-color:#9f9f9f;}
#UI_Head #head_box .head_user .login{background: #0078ee url(n-icon-11.png) no-repeat 10px 5px;}
#UI_Head #head_box .head_user .login:hover{background-color: #f77a22;}
#UI_Head #head_box .head_user .userinfo {text-align: center;font-size: 14px;float: left;display: block;height: 32px;line-height: 32px;background:#09F;color: #fff; padding-right:10px;}
#UI_Head #head_box .head_user .userimg{float: left;height: 32px; margin-right:5px;}
#UI_Head #head_box .head_user .userlogout{text-align: center;font-size: 14px;float: left;display: block;height: 32px;line-height: 32px;background:#666;color: #fff;padding-right:10px;padding-left:10px;}
#UI_Left {width: 242px; margin-right: 5px; margin-left: 2px; float: left;position: relative;}
#UI_Right {width: 450px; position: relative; float: right; margin-right: 2px;}
#UI_Central {display: inline-block; width: auto; float: left;}
.main-content-menu{width: 100%; height: 35px; line-height: 35px; background-image: url(../../images/png2.png);border-radius: 5px 5px 0 0;}
.main-content-menu li{width: 120px; float: left; text-align: center; font-size: 14px; cursor: pointer;}
.main-content{height: 100%;}
#data_market{background-color: #323232;}
#UI_Left1 {float: left; width: 50px; margin-bottom: 0px; overflow: hidden}
.modules{overflow:hidden; }
.modules ul li{width:54px;height:59px;float:left;margin:0 2px 2px 0;padding:10px 12px;background:rgba(0,0,0,0.3);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#30000000,endColorstr=#30000000)";filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#30000000,endColorstr=#30000000)}
.modules ul li:hover{background:rgba(0,0,0,0.2);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#20000000,endColorstr=#20000000)";filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#20000000,endColorstr=#20000000)}
.modules ul li:hover a span{color:red}
/*.modules ul li:nth-child(3n+3){margin:0 0 2px 0}*/
.modules ul li.custom{position:relative}
.modules ul li a{color:#fff;text-align:center;display:block}
.modules ul li a span{display:block}
.modules ul li a img{width:43px;height:42px}
#Msg img {vertical-align:text-bottom;}
#FontBar {background:#F8F8F8; padding: 4px; height: 20px; width: 400px; overflow: hidden; position: absolute; z-index: 1000;}
#ColorTable li {list-style-position: outside; list-style-type: none; width: 10px; height: 10px; overflow: hidden; float: left; cursor: hand;}
.drag_skin {height: 1px; cursor: n-resize; overflow: hidden; background-image: url(../../images/MesSplit.png)}
a {font-size: 12px; color: #FFF; text-decoration: none; cursor:pointer}
.bt_down {font-family: Webdings; width: 10px; text-align: center;}
.bt_true {border: 1px #999 solid; background-color:#CCC;}
.bt_false {border: 1px #F8F8F8 solid; background-color: #F8F8F8;}
.head_bg {background-image: url(HeadBackground_R.jpg); background-repeat: no-repeat; background-position: right; height: 40px;}
.title_bar {height: 35px; line-height: 35px; overflow: hidden; margin-bottom: 1px; padding-left: 5px; background-image: url(../../images/png2.png); color: #FFF; font-size: 13px; border-radius: 5px 5px 0 0;}
.title_bar span{float: left;}
.title_bar .sizeBtn{height: 35px; margin: 0 5px;}
.title_bar .sizeBtn img{width: 24px; margin-top: 8px;}
.chat_title_bar {height: 35px; line-height: 35px; overflow: hidden; margin-bottom: 1px; padding-left: 5px; color: #FFF; font-size: 14px; background: #000; border-radius: 5px 5px 0 0;position: relative;}
#Y_Scroll{margin: 5px 0;}
.title_bar div {float: left;}
.title_bar input {margin-left: 2px; margin-right: 2px;}
.post_box{width: 60px; float: left; font-size: 14px;}
.post_box img{vertical-align: middle;}
#Y_Scroll_Ul li{color: #000;}
.Y_iMessage li{padding-left:10px;padding-top:5px;font-size: 16px;clear:both;_zoom:1;overflow: hidden}
#Y_Scroll ul li{float:left;word-break: keep-all;height:25px;overflow:visible;clear:both;}
#Y_Scroll a{float: left; line-height:24px;}
#Send_key_option {border: 1px solid #CCB3B3; background: #f4fdec; padding: 2px; width: 180px; position: absolute; overflow: hidden; cursor: hand;}
#Manage {border: 1px solid #CCB3B3; background: #f4fdec; width: 290px; padding: 5px; position: absolute; overflow: hidden;}
#ColorTable {border: 1px solid #CCB3B3; background: #F8F8F8; padding: 5px; width: 180px; position: absolute; overflow: hidden;}
#ToUser{font-size: 12px;   border: 1px solid #ccc; height:22px; width:90px; vertical-align:baseline; margin-top:7px; margin-left:5px;float:left}
.Msg_input{position:relative; height:75px; overflow:hidden; padding-top:1px;}
.Msg_input #Msg{background: rgba(0,0,0,.6); height:62px; overflow:auto; margin: 5px 110px 5px 5px;font-size:12pt; color:#fff; line-height:40px;}
.Msg_input .msg_submit{width:100px;position:absolute;height:62px;top:5px;right:5px;background-color:#2196F3;border-radius:3px}
#manage_div{background: #E1E1E1; margin:0px; color:#333; height:25px; line-height:23px; display:none; padding-left:5px;}
#Video_List {position: absolute;}
#Video_List .list {float: left; width: 148px; height: 110px; overflow: hidden; border: 1px solid #CCB3B3; margin-top: 1px; margin-left: 1px;}
#Video_List input {float: right; margin-top: 2px;}
#MsgBox1{overflow:auto; height:50px; padding:0px 10px 0px 10px;position:relative; word-break: break-all; word-wrap: break-word;}
#massage_box {border: 1px solid #ccc;}
#massage_box .title {background: #ccc;}
.load_msg{ width:100%; text-align:center; margin-top:5px; margin-bottom:5px;}
.load_msg a{background:url(load_more.png) left center no-repeat;padding-left:20px;color:#fff}
.load_msg a.wait{background:url(load_wait.gif) left center no-repeat;}
.tips{width: 100%;line-height: 20px;height: 20px; background: url(line.png) center center no-repeat;font-size: 12px;display: inline-block;text-align: center;color: #fff;margin-bottom:10px;z-index:99999;}
#msg_tip_5_show{width: auto; line-height: 25px; padding: 2px 10px; position: relative; overflow: hidden;}
.Video_main_over {position: absolute; display: block; height: 150px; width: 260px; overflow: hidden;}
.Video_main_out {position: absolute; display: block; height: 150px; width: 150px; overflow: hidden;}
#menu {border: 1px solid #333; cursor: default; position: absolute; color: #333; background: #FFF; box-shadow: 1px 1px 2px #aaaaaa;}
#menu #n {height: 20px; line-height: 20px; margin: 2px; margin: 1px;}
#menu #icon {height: 20px; width: 20px; float: left; overflow: hidden; padding-left: 5px;}
#menu .over {background: #333; color: #FFF; padding: 2px;}
#menu .out {background: #FFF; padding: 2px;}
#menu .hr {background: #333; padding: 0px;}
#PInfo {position: absolute; border: 1px solid #ccc; border-top: 3px solid #ccc; top: -1000px; z-index: 1000; background: url(pop.gif)}
#PInfo .div {border: 1px solid #ccc;}
#Emote .div1 {border: 1px #FFF solid; margin: 1px; cursor: pointer; height: 24px; overflow: hidden}
#Emote .div2 {border: 1px #CCC solid; margin: 1px; cursor: pointer; height: 24px; overflow: hidden}
.bg_png {background-image: url(../../images/png.png);}
.bg_png1 {background-image: url(../../images/png1.png);}
.bg_png2 {background-image: url(../../images/png2.png); margin-top: 4px;}
.sex-man {float: right; margin-top: 1px; cursor: pointer; width: 16px; height: 16px; background: url(t3.png) no-repeat -16px -11px;}
.sex-womon {float: right; margin-top: 1px; cursor: pointer; width: 16px; height: 16px; background: url(t3.png) no-repeat -45px -11px;}
.vipico,.robotico {float: right; width: 35px; height:30px;overflow: hidden;}
.vipico img,.robotico img{height:29px; cursor:default;}
.robotico{display: none;}
.robot .robotico{display: block;}
.content {background: rgb(243,245,246); padding: 3px; border-radius: 3px; float: left; box-shadow: 1px 1px 3px #000; line-height: 19px; color: #333; margin-bottom: 2px;}
/*.appico {display: block; text-align: center; border-bottom: 1px #333333 solid; padding-bottom: 2px;}
.appico img {margin-top: 6px; margin-bottom: 0px; width: 40px; height: 40px; border: 0px;}
.appico span {color:#FFF;}
.appico:hover span {color: #FF0;}*/
/*.msg {float: left; margin-bottom: 2px; font-size:13px; position:relative;}
.msg .msg_head {float: left; width: 50px; margin: 3px 3px 0 0; position:absolute; left:0px;}
.msg .msg_head img {width: 50px; height: 50px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.msg .msg_content {float: left; margin-left:55px; left:0px;}
.msg .msg_group_ico{width:18px; height:18px; vertical-align:text-bottom}
.dui {background-color: #EC781A; padding: 0 4px; border-radius: 4px;}*/
.msg {float: left; margin-bottom: 5px; font-size:13px; position:relative;}
.msg .date {border-radius: 20px;
    padding: 0 10px;
    color: #969696!important;
    font-size: 12px;
    background: rgba(0,0,0,.2);
    margin: 0 10px;}
.msg .msg_head {float: left; margin: 0 3px;}
.msg .msg_head img {width: 40px; height: 40px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.msg .msg_content {float: left; margin-left:3px;}
.msg .layim_chatsay1{border-radius: 3px; line-height: 24px; float: left; margin-bottom: 5px; background: #eee; color: #333; padding: 0 8px;position:relative;margin: 8px 0}
.msg .sysmsg{
	    background: #AB47BC!important;
    background: -webkit-linear-gradient(left,#AB47BC,#5169DE)!important;
    background: -moz-linear-gradient(left,#AB47BC,#5169DE)!important;
    background: -ms-linear-gradient(left,#AB47BC,#5169DE)!important;
    background: -o-linear-gradient(left,#AB47BC,#5169DE)!important;
    background: linear-gradient(to right,#AB47BC,#5169DE)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#AB47BC, endcolorstr=#5169DE, gradientType=1);
}
.msg .sysmsg:before{border-top: 8px solid #AB47BC!important;
    top: 0px;
    left: -8px;}
.msg .layim_chatsay1 font img{vertical-align: middle;border-radius:4px}
.msg .layim_chatsay1:before{ content: ""; height: 0; width: 0; position: absolute; border-left: 8px solid transparent;  border-right: 8px solid transparent;  border-top: 8px solid #e7ebf2;top: 0px; left: -8px;}
.msg .msg_group_ico{width:18px; height:18px; vertical-align:text-bottom}
.msg .u{cursor: pointer; text-decoration: none; /*background: #66cc66;*/ color: #ffffff; /*padding: 0 8px;*/ text-align: center; text-decoration: none; font-size:12px; float:left; border-radius: 3px; /*line-height: 24px; margin-bottom: 5px;*/}
.msg .red{/*background: #710000;*/}
.msg .dui{background-color: #EC781A; padding: 0 8px; border-radius: 3px; float:left;  margin-left:6px; margin-right:5px; color:#fff; font-size:12px;}
.title_tab{float:left}
.title_tab a{display:block; width:120px; height:45px; float:left; line-height:20px; text-align:center; color:#FFF;cursor: pointer;font-size:14px}
.title_tab a:hover{text-decoration:underline}
/*.zmurl{background: #0C0; border-radius: 3px; padding:3px 5px;}
.zmurl img{width:16px; height:16px; vertical-align:text-bottom; border:0px;}*/
.kefu {background:#09f url(qqkefu.png) no-repeat scroll 0 0 ; border-radius: 3px; padding:2px 56px;}
.kefu img{width:16px; height:16px; vertical-align:text-bottom; border:0px;}
.NoticeList .tab a{float:left; height:35px; line-height: 35px; font-size:14px; background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;}
.NoticeList .tab a:hover{background:#F60}
.NoticeList .tab .active{background:#F60}
.notice_tab{margin-right: 5px; text-align: center; width: 80px;}
#kickmp {margin:10px;}
#kickmp  input{height:20px; line-height:20px; width:260px;}
#kickmp  select{height:20px; line-height:20px; width:130px;}
#renamemp {margin: 30px 10px; color: #000; font-size: 15px;}
#renamemp  input{height:20px; line-height:20px; width:150px; padding: 3px 5px;}
#renamemp .bt1{margin: 10px 53px;}
.bt1{text-align: center;font-size: 14px; display: block; margin:5px 0 ; padding:5px;background: #6BC30D;color: #fff; border:0px;}
.bt2{text-align: center;font-size: 14px; display: block; margin:5px 0 ; padding:5px;background:#666;color: #fff; border:0px;}
#OnLine_MV{height:200px;line-height:200px; text-align:center}
.videoTime{position:absolute;right:5px;top:47px;z-index:989;color:#fff;font-size:14px}
.videoTime .videoTimeTxt{float:left;line-height:25px}
#colockbox{width:176px;height:23px;background:url(colockbox.png) no-repeat;float:right;margin-left:8px;padding:2px 0 0 7px}
#colockbox span{letter-spacing:9.5px}
#colockbox span.hour{margin-left:15px}
#colockbox span.minute{margin-left:1px}
#colockbox span.second{margin-left:2px}

#RoomMV{position: relative;}
.broadcast{position:absolute;top:7px;display:inline-block;right:80px;width:60px;height:40px;background:rgba(0, 0, 0, 0) url(taped.png) no-repeat scroll 0 0 / 60px 25px; cursor: pointer;}
.broadcastMain{width: 100%; position:absolute; top: 35px; left: 0; z-index:990; overflow: hidden; display:none;}
.liveYy{position:absolute;z-index:101;bottom:4px;left:48%;display:none;cursor:pointer}
.broadcastMain .fl{float: left;}
.broadcastMain .fr{float: right;}
.broadcastMain .mr5{margin-right: 5px;}
.broadcastMain .broContie{color: #333;}
.broadcastMain .closebroad{cursor: pointer;}
.broadcastMain .broadcastTitle{height:30px;background:#282828;color:#fff;line-height:30px;padding:0 15px 0 20px; font-size: 14px;}
.broadcastMain .broadcastCon{background:#fff;padding:30px 15px 15px;width:100%}
.broadcastMain .broadcastCon ul{overflow:hidden}
.broadcastMain .broadcastCon ul li{width:48%;float:left;padding:0 0 10px;margin:0 0 0 10px;cursor:pointer}
.broadcastMain .broadcastCon ul li:nth-child(odd){border-right:1px #e1e1e1 solid}
.broadcastMain .broadcastCon ul li .broContie{margin-right:10px}
.teacherBtn{position:absolute;top:4px;display:inline-block;right:0;width:67px;height:27px;cursor:pointer;background:url(/images/proudbtn.png) no-repeat}
.teacherBtnConW{width:870px;height:600px;border-radius:2px;background:#FFF url(../images/teacherBtnConWBg.png) no-repeat}
/* 聊天区输入部分样式 */
#topicinput{width:100%;height:94px;left:0;bottom:5px;}
.tool_bar{margin:0px;/*background:rgb(243,243,243);*/background-image:url(../../images/png2.png);height:87px; position:relative;}
.tool_bar a{color:#fff}
.bar{padding:3px 5px 3px 22px;height:14px;line-height:14px;border:transparent 1px solid;border-radius:2px;background:#fff;margin:7px 0 0 5px; display:inline-block;}
.bar:hover{border:#333 1px solid;}
.bar_1{background-position:4px 4px;background: url(/room/images/pic3.png) no-repeat center center;}
.bar_2{background-position:4px -36px;background: url(/room/images/fc3.png) no-repeat center center;}
.bar_3{background-position:3px -77px;background: url(/room/images/ct3.png) no-repeat center center;}
.bar_4{padding:3px 5px 3px 22px;height:14px;line-height:14px;border:#ccc 1px solid;border-radius:2px;background:#fff;margin:7px 0 0 5px; display:inline-block;background:url(../../images/bin.png) no-repeat;background-position:4px 4px;}
/*.bar_5{background-position:4px -158px;}*/
.bar_6{background:url(../../images/icon_1.png) no-repeat; background-position:-7px -5px; margin-right:5px;}
.bar_7{background:url(../../images/icon_1.png) no-repeat; background-position:-7px -380px;}
.bar_8{background: none; padding: 3px 5px 3px 5px; display: none;vertical-align:top}
/*.bar_4:hover{background-position:4px -323px;}*/
.bar_5{padding:3px 5px 3px 22px;height:14px;line-height:14px;border:#ccc 1px solid;border-radius:2px;background:#fff;margin:7px 0 0 5px; display:inline-block;background:url(../../images/check.png) no-repeat;}
.bar_5{background-position:4px 2px;}
.bar_5[select=true]{background-position:4px -44px;}

.tools{position: absolute; right: 5px; border: 0; background-color: #CCC; z-index: 1000;}
/*.rotate{top: 20px; right: 5px;}
.rotate{position:absolute;top:48px;right:2px; cursor: pointer; z-index: 1000;}
.rotate {display:block; width: 46px;margin-bottom: 10px;  text-align: center;color:#fff;}
.rotate span{line-height: 24px;  width: 100%; text-align: Center;}
.rotate img{width:36px}*/

#bt_qingping{top: 5px;}
#bt_gundong{top: 5px; right: 65px;}
#bt_sendflower{width: 50px; top: none; bottom: 5px; background:url(../../user/public/flower_gray.png) no-repeat scroll 2px 2px;}
#bt_sendflower .sendflower{position: relative;}
#bt_sendflower .to_user{display:none;float:left;background: none repeat scroll 0 0 #FFAA33;border: 1px solid #D8D8D8;padding: 4px;position: absolute;bottom: 20px;left: -6px;width: 77px;z-index: 9999; font-size: 14px; line-height: 16px;}
#bt_sendflower .to_user  a:hover{text-decoration: underline;}
#bt_sendflower .to_user p{line-height: 20px; cursor: pointer; padding: 5px 5px 5px 22px;}
#bt_sendredbag{top: none; bottom: 5px; right: 90px; background:url(../../user/public/redbag_small.png) no-repeat scroll 5px 2px; border: 1px solid red; color: red;}

.bar_7:hover{background-position:-7px -355px;}
.tool_bar .s_right{position:absolute;right:3px;top:7px;background:rgb(243,243,243);padding-left:30px;}
.tool_bar select{margin:0 5px;}
.input_area{margin:0 5px;background:rgb(255,255,255);height:62px;position:relative;padding:5px 130px 0 5px;}
.input_area input{font-size:20px;padding:5px 0;width:100%;height: 42px;border:#B67233 1px solid;outline:none;font-family:Microsoft Yahei}
.sub_btn{background:#aaa url(../../images/sent.png) center center no-repeat; width:110px;height:55px;line-height:35px;display:block;border-radius:5px;font-size:0px;position:absolute;right:5px; top:5px;}
/* 表情、彩条 */
#face{background:#fff;border:rgb(146,146,142) 1px solid; color:#000;border-radius:3px;padding:5px;width:252px;height:180px;position:fixed;box-shadow: 1px 1px 3px #000;z-index:99999999;}
#face dd{float:left;width:28px;height:28px;overflow:hidden;cursor:pointer;}
#face ul,#caitiao ul{height:22px; line-height:22px;background:#e4e4e3 url(../../images/g_bg.jpg) left top repeat-x;position:absolute;left:0;bottom:0;width:100%;}
#face ul li,#caitiao ul li{float:left; padding:0 5px;border-left:#e4e4e3 1px solid;border-right:#e4e4e3 1px solid;}
#face ul li:hover,#face ul .f_cur,#caitiao ul li:hover,#caitiao ul .f_cur{background:#fff;border-color:#d9d9d8;cursor:pointer;}
#caitiao{background:#fff;border:rgb(146,146,142) 1px solid; border-radius:3px;padding:5px;width:70px;height:170px;left:73px;bottom:81px;box-shadow: 1px 1px 5px #666; color:#000}
#caitiao dd{background:#f8f6fe;height:22px; line-height:22px;text-align:center;cursor:pointer;}
#caitiao dd:hover{background:#4ca0d9;}
.gray  cite{color:#ddd;filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter: grayscale(100%);-moz-filter:grayscale(1)}
#reply_panel{background:#fff;border:rgb(146,146,142) 1px solid; color:#000;border-radius:3px;padding:5px 10px;overflow: hidden;width:252px;min-height:20px;position:fixed;box-shadow: 1px 1px 3px #000;z-index:99999999;display:none;}
#reply_panel #replys{height: auto;}
#reply_panel #replys li{width: 100%; height: 20px; line-height: 20px; cursor: pointer; margin-top: 5px; white-space:nowrap; text-overflow:ellipsis; /* for internet explorer */ overflow:hidden;}

.huanfu{position: absolute; right: 260px; top: 0;height:50px;}
/*.huanfu #huanfugn{line-height: 14px;display: inline-block;text-align: center;float:left;font-weight:bold;border:solid 1px #FF0;color: #FF0;padding: 5px;width: 30px;}*/
.huanfu a{padding: 0 15px; font-size: 16px;display:block;height:50px;line-height:50px;}
.huanfu a:hover{background: rgba(202,202,202,0.33)}
.sign_in{position: absolute; right: 270px; top: 13px;}
.sign_in a{width: 30px; float: left; background-color: #f46b0a;border: none; color: #FFF; padding: 5px 8px; border-radius: 40px; text-align: center;}
.bg_list{width:127px;height:71px;margin:2px 3px 0 3px;cursor:pointer;}
#defvideosrc{margin-left: 10px;}
#defvideosrc i{color: #6bc30d; font-style: normal; font-weight: bold;}
#Div_VN1{margin: 0 3px; font-size: 15px;}
#Div_VN1 img{width:23px; vertical-align: middle; margin-right: 3px;}
#Div_VN1 a img{width:54px; margin-left: 3px;}

/*#NoticeList{line-height: 20px; padding: 10px;}*/
.notice_div{line-height: 20px; padding: 10px;}
#notice_5_div{padding: 0;}

.shareBar{height:30px; line-height:27px; font-size:14px;}
.shareBar .privateChat{float: left;}
.shareBar .privateChat a{margin: 0 0 0 5px;}
.shareBar .screenshot{float: left;}
.shareBar .screenshot a{margin: 0 0 0 5px; background: none; display: inline; background:url(../../images/qqmaill_ico.png) no-repeat; background-position: 4px -116px;}
.share{float: right;}
.share span{color: #FFF; font-size: 12px;}
.share a{margin: 0 2px;}
.share a img{width: 16px; height: 16px; vertical-align: middle;}
.sharefrends{width:276px;height:30px;background:#fff;position:absolute;padding:22px 20px;border-radius:5px;z-index:9999}
.sharefrends input{width:200px;height:30px;padding:5px}
.sharefrends span.copy{padding:5px 10px;background:#5d93e4;border-radius:2px;color:#fff;margin-left:10px}
.sharefrends .closeMessBtn{width:25px;height:25px;line-height:25px;text-align:center;position:absolute;right:-12px;top:-10px;z-index:100;cursor:pointer;font-size:28px;background:#FFF;color:#888;background:url(messageBtn.png) no-repeat left -32px}
.sharefrends .closeMessBtn:hover{background:url(messageBtn.png) no-repeat left -3px}

#qqbts{height:24px;color:#f00;overflow: hidden;padding: 0 5px;}
#qqbts .btn{text-align:center;float:left;display:block;width:70px;height:22px;line-height:22px;margin:0 6px;background:#fff;color:#0e79f6;transition:.3s;border-radius:2px;position:relative;border:1px solid transparent;border:1px solid #127dec;font-size:12px;padding-left:22px}
#qqbts .btn i{background:#127dec;color:#FFF;position:absolute;width:25px;line-height:inherit;left:0;text-align:center;font-size:13px;}
#qqbts .btn:hover{background:#127dec;color:#fff}

#gd_ad span{width: 27px; height: 85px; position: absolute; top: 25%; left: 20px; cursor: pointer; transition:opacity .2s linear 0s; opacity: 0.15; border-radius: 3px;}
#gd_ad .prev{background: #000 url(../../images/arrow-left.png) no-repeat scroll center center;}
#gd_ad .next{background: #000 url(../../images/arrow-right.png) no-repeat scroll center center; left: auto; right: 20px;}
#gd_ad img{width: 100%; height: 100%;}
.ck-slidebox{left:50%; z-index:30; position:absolute; bottom:12px;}
.ck-slidebox ul{height:20px; padding:0 4px; background:rgba(0,0,0,0.5); border-radius:8px;}
.ck-slidebox ul li{float:left; height:12px; margin:4px 4px;}
.ck-slidebox ul li em{width:12px; height:12px; cursor:pointer; background:#fff; border-radius:100%; text-indent:-9999px; display:block;}
.ck-slidebox ul li.current em{background:#FE6500;}
.ck-slidebox ul li em:hover{background:#FE6500;}

/**抽奖样式**/
#dowebok {position:absolute; width: 894px; height: 563px; margin: 0 auto; background-image: url(../../images/s3_bg.png);display:none;  top: 55%;left: 50%; margin: -350px auto 0 -447px; z-index: 10000;}
.rotary {position: relative; float: left; width: 504px; height: 504px; margin: 28px 0 0 29px; background-image: url(../../images/g.png);}
.hand {position: absolute; left: 144px; top: 144px; width: 216px; height: 216px; cursor: pointer;}
.list {float: right; width: 300px; padding-top: 12px;}
.list strong {position: relative; left: -120px;top:20px; display: block; height: 65px; line-height: 65px; font-size: 28px; color: #ffe63c;}
.list h4 {height: 45px; margin: 30px 0 10px; line-height: 45px; font-size: 24px; color: #fff;}
.list ul {line-height: 36px; list-style-type: none; font-size: 12px; color: #fff;}
.list span {display: inline-block;}
.rotateMobile{position:absolute;z-index:999;left:50%;top:50%;margin-top:-77px;margin-left:-203px;background-color:#fff;padding:0 20px;display:none;color:#000}
.rotateMobile h1{text-align:center;margin:18px 0;font-size:16px;font-weight:bold;}
.rotateMobile2{position:absolute;z-index:999;left:50%;top:50%;margin-top:-47px;margin-left:-189px;background-color:#5fb878;padding:0 20px;display:none;color:#000}
.rotateMobile2 h1{text-align:center;margin:18px 0;font-size:16px;font-weight:bold;}
.btn-send{background-color:#ebebeb;padding:5px;text-decoration:none;border:1px solid #CCC;font-size:12px;margin-left:10px;color:#000;}
.rotateMobile_c{padding:0 35px 0 0;margin-top:26px;overflow:hidden;text-align:right;font-size:12px}
.rotateMobile_c input{width:145px;height:23px;border:1px #81d3ff solid;padding:2px 10px;color:#a0a0a0}
.rotateMobile_c input#rcode{width:90px}
.registercode{text-align:left;width:180px}
.buttonBlu{border-color:#52b0e1;border-style:solid;border-width:1px;text-shadow:0 -1px 0 rgba(0,0,0,0.2);text-align:center;background:#52b0e1;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:3px;outline:0;width:80px;height:30px;font-size:16px;letter-spacing:2px;margin-left:150px;margin-top:15px;margin-bottom:15px;color:#fff}
.cancelled{font-size:12px;cursor:pointer}
#fancybox-close {position: absolute;top: 0px;right: -25px;	width: 50px;height: 50px;background-image: url('../../images/fancy_close.png');cursor: pointer;z-index: 1103;display: none;
}
.registerNewconter{
	height:60px;
	line-height: 60px;
}
/**新增红包功能**/
#redbag_choice *{font-size: 14px;}
#redbag_choice{width:347px;height:485px;background: url(/images/setHongbao.png) center no-repeat;border-radius:10px}
#redbag_choice h1{background: #E83939;color: #fff; line-height: 64px; text-align: Center;border-radius: 5px; font-size: 16px;}
#redbag_choice ul {float: left; margin-top: 140px;  width: 280px;margin-left:33px}
#redbag_choice ul  li {margin-bottom: 10px; line-height: 24px; padding: 10px; color:#000}
#redbag_choice ul  li  span{color: #000;}
#redbag_choice ul  li  input{border: 1px solid #ccc;  height: 22px;  text-align: right;
 padding: 3px 10px;}
#redbag_choice ul  li  a{background: #E83939;color: #fff; line-height: 32px; text-align: Center;border-radius
:5px;  float: left; width: 100%;}
/**红包充值**/
#redbag_pay *{font-size: 14px;}
#redbag_pay{width:280px;height:220px}
#redbag_pay h1{line-height: 46px; text-align: Center;border-radius:5px;  border-bottom: 1px solid #ccc
;}
#redbag_pay  p{line-height: 36px;color: #776E6E;padding: 10px;}
#redbag_pay ul {float: left;padding: 0px 10px;}
#redbag_pay ul  li {margin-bottom: 10px; line-height: 24px;height:48px ;  height: 48px;}
#redbag_pay ul  li  span{}
#redbag_pay ul  li  input{float: left;border: 1px solid #ccc;  height: 32px; width:258px;}
#redbag_pay ul  li  a{background: #24B7DA;color: #fff; line-height: 32px; text-align: Center;border-radius: 5px;  float: left; width: 100%;}


/**红包信息**/
#redbag_info *{font-size: 14px; color: #000;}
#redbag_info{width:347px;height:485px;background: url(/room/images/successredbag.png) no-repeat 0 0;position: absolute;text-align:center;    border-radius: 10px;}
#redbag_info ._avatar{margin: 0 auto;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin-top: 45px;
    overflow: hidden;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.5);}
#redbag_info .redbag_sender ._avatar img{height:40px;margin:10px}
#redbag_info .redbag_sender ._info{height: 60px; float: left;margin-left:10px}
#redbag_info .redbag_sender ._info ._info_total{font-size: 18px;color: #ff0; line-height: 36px;}
#redbag_info .redbag_sender ._info ._info_from{display:block; color: #FFF;}
#redbag_info  h1{line-height: 26px;color: #000; padding: 0px 10px; border-bottom: 1px solid #F0EDED;font-size:14px;font-weight:normal;text-align:left;
;}
#redbag_info table{width: 100%;background: #fff;}
#redbag_info table tr{height:60px;  border-bottom: 1px solid #F0EDED;}
#redbag_info table tr td{border-bottom: 1px solid #F0EDED;}
#redbag_info table tr td img{width: 40px; height: 40px;}
#redbag_info table tr td span{font-size: 16px; font-weight: bold;}
#redbag_info table tr td p{}
#redbag_info .redbag_get_bottom{line-height: 26px;color: #ADA5A5; padding: 0px 10px;}

.otherFunctions{position:absolute;top:15%;right:10px;z-index:10;}
.send-chat .toolbar .flower-icon{background:url(../images/ww.gif) no-repeat center;height:25px;margin-left:8px;margin-top:10px}
.GetFolowers,.redbag,.dimensionCode,.rotateMain,.hongBao,.rotate{color:#fff;margin:7px 0 0 7px;height:75px;line-height:18px;text-align:center;display:none}
.dimensionCode,.rotateMain,.hongBao,.rotate,.cursorPointer{display:block;cursor:pointer}
.otherFunctions .func{color:#fff;margin:7px 0 0 7px;height:75px;line-height:14px;text-align:center;display:block;cursor:pointer;}
.otherFunctions .func > img{width: 36px; height: 36px; margin-bottom: 5px;}
#dimensioncode{background:#333;position:absolute;padding:22px 20px;z-index:990;display:none}
.dimensionCode #ewm{display: none; position: absolute; right: 50px; top: 0;}
.GetFolowers{position: relative;}
.GetFolowers .abundantface{width: 160px; position: absolute; right: 50px; top: 10px; padding: 5px 0; z-index: 101; display: none; background-color: #FFF;}
.abundantface li {height: 20px; line-height: 20px; padding: 0 10px; margin-bottom: 2px; text-align: left; overflow: hidden; border-bottom: 1px dashed #ccc;}
.abundantface li a{color: #000;}
.GetFolowers .x_close{width: 22px; height: 22px; position: absolute; right: -10px; top: -10px; z-index: 103;}

.tip_msg{background-color: rgb(250, 181, 2); border-radius: 3px; display: inline-block; padding: 2px 10px; margin: 10px 0;}
.giftList{width: 100%; position: absolute; left: 0; bottom: 0; background-color: #A72591; z-index: 100; display: none;}
.giftList li{width: 55px; float: left; margin: 5px; cursor: pointer;}
.giftList li img{width: 55px; height: 55px; background: rgba(0, 0, 0, 0) url(gift_bg.png) no-repeat scroll 0 0 / 100% 100%;}
.giftList li .gname{height:16px; line-height:16px; color:#FFF; text-align: center; display: block; overflow:hidden;}
.giftList .gift_close{position: absolute; top: -11px; right: -10px; cursor: pointer;}
.giftList .fa{position: absolute; top: 25px; font-size: 20px;}
.giftList .fa-chevron-left{left: 2px;}
.giftList .fa-chevron-right{right: 2px;}


/*全屏字幕*/
.quanping{position:fixed;top: 0px;width:100%;z-index:999}
.quanping div{font-size:38px;line-height:57px;font-weight:600;color:#19437B;position:absolute;left:0;top:0;text-shadow: 0 0 2px #fff,
				0 0 4px #fff,
               0 0 6px #fff,
               0 0 8px #FF1177,
               0 0 10px #FF1177,
               0 0 12px #FF1177,
               0 0 14px #FF1177,
               0 0 16px #FF1177;
}

/*底部行情*/
#footer{width: 100%; height: 39px; line-height: 39px; font-size: 14px; background-image: url(../../images/png2.png);}
/* price ---------------------------------------- */
.price{margin-top: 1px; overflow: hidden; background: rgba(0, 0, 0, 0) url(bg-d-1.png) repeat scroll 0 0;}
.price-t{width: 70px;  height: 39px; line-height: 31px; float: left; text-align: center; color: #ff4949;}
.price-t .ico{vertical-align: middle;}
.price-r{width: auto; color: #FFF; float: right; margin-right: 10px;}
.price ul li{float: left; height: 14px; line-height: 14px; margin: 9px 0px; padding: 0px 20px; border-left: solid 1px #333;}
.price ul li span{margin: 0px 5px;}
.price ul li span:first-child{color: #aaa;}
.price ul li .ico{vertical-align: middle;}
.gray{color: #999;}
.gre{color: #61D2B4;}
.red{color: #ff4949;}
.blue{color: #2196F3;}
.ico16{background: url(sprite.png) no-repeat; height: 16px; width: 16px; overflow: hidden; display: inline-block;  *display: inline; *zoom: 1; text-indent: 999em; background-position: 50px 50px;}
.ico16-price{background-position: -140px -30px;}

.shareBar .box { position: relative; float: left; color: #333; margin: 2px 0 0 8px; z-index: 2; }
.shareBar .box .name { cursor: pointer; position: relative; padding: 0 0 0 24px; background: url(../../images/share.png) no-repeat 0 0/auto 20px; font-size:14px; display: inline; color: #FFF;}
.shareBar .down { display: none; position: absolute; width: 210px; bottom: 30px; left: -65px; }
.shareBar .downinner { height: 100px; padding: 0 0 15px; border-left: 1px solid #f1f1f1; border-right: 1px solid #f1f1f1; border-bottom: 3px solid #ee3030; border-top: 1px solid #dbdbdb;  background: #fff; font-size: 12px; color: #999; }
.shareBar .down em {position: absolute; width: 25px; height: 16px; left: 73px; bottom:-6px; z-index: 2; background: url(../../images/down.png) no-repeat 0 0/23px auto; }
.shareBar .down p { margin-bottom: 12px; font-size: 16px; color: #333; text-align: center; }
.shareBar .down .shdiv a { float: left; width: 46px; height: 44px; margin: 0 0 0 18px; background: url(../../images/icons.png) no-repeat;}
.shareBar .down .shdiv .weispan { position: relative; padding-bottom: 15px; float: left; }
.shareBar .down .shdiv .weispan span { display: none; position: absolute; padding-top: 13px; left: 0; bottom: 58px; }
.shareBar .down .shdiv .weispan:hover span { display: block; }
.shareBar .down .shdiv .weispan i {  position: absolute; width: 16px; height: 13px; right: 50px; top: 0px; z-index: 2; background: url(../images/room/roomicon.png) no-repeat 1px -306px; }
.shareBar .down .shdiv a.weixin { background-position: 0 -250px; }
.shareBar .down .shdiv a.qq { background-position: 0 -294px; }
.shareBar .down .shdiv a.fship { background-position: 0 -338px; }
.shareBar .fl { margin-left: 10px; }
.shareBar .followRoom { display: inline-block; width: 45px; margin-left: 10px; padding-left: 25px; color: #1a8ce1; background: url(../../images/icons.png) no-repeat 0px -104px; vertical-align:middle;}
.shareBar .followRoom.on { background-position: 0 -77px; color: #999; }
.shareBar .box:hover .down{ display: block; }
#retract{position: absolute; right: -6.5px; top: 50%; z-index: 100;}
#retract img{width: 20px; cursor: pointer;}
#unretract{position: absolute; left: 0; top: 50%; z-index: 100; display: none;}
#unretract img{width: 20px; cursor: pointer;}

.tanmubt{position: absolute;left: 0px;bottom: -2px;cursor: pointer;}
#OnLine_MV_wrap{overflow: hidden;}
#OnLine_MV_wrap span{position: absolute;overflow: hidden;padding: 3px 6px;border-radius: 4px;font-size: 14px;background: rgba(0,0,0,0.5);white-space: nowrap;}

.flash1{-webkit-animation:flash .5s infinite;-moz-animation:flash .5s infinite;animation:flash .5s infinite}
@-webkit-keyframes flash{0%,100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
50%{-webkit-transform:scale(.95);-moz-transform:scale(.95);-ms-transform:scale(.95);-o-transform:scale(.95);transform:scale(.95)}
}
@-moz-keyframes flash{0%,100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
50%{-webkit-transform:scale(.95);-moz-transform:scale(.95);-ms-transform:scale(.95);-o-transform:scale(.95);transform:scale(.95)}
}
@-ms-keyframes flash{0%,100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
50%{-webkit-transform:scale(.95);-moz-transform:scale(.95);-ms-transform:scale(.95);-o-transform:scale(.95);transform:scale(.95)}
}
@-o-keyframes flash{0%,100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
50%{-webkit-transform:scale(.95);-moz-transform:scale(.95);-ms-transform:scale(.95);-o-transform:scale(.95);transform:scale(.95)}
}
@keyframes flash{0%,100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
50%{-webkit-transform:scale(.95);-moz-transform:scale(.95);-ms-transform:scale(.95);-o-transform:scale(.95);transform:scale(.95)}
}

#layim_chatinfo p{display:none}
#layim_chatinfo .layim_chatthis{display:block}

#radbagmsg{
	position:relative;
	width:189px;
	height:87px;
	background:url(/room/images/redbag_open.png) center no-repeat;
	cursor:pointer;
}
#radbagmsg p{
	position:absolute;
	color:rgb(255,51,0);
	top:10px;
	left:53px;
	line-height: 18px;
	font-weight: bold;
}