/* CSS Document */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: middle;
background: transparent;
list-style:none;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}


/* remember to define focus styles! */
:focus {
outline: 0;
}


/* remember to highlight inserts somehow! */
ins {
text-decoration: none;
}
del {
text-decoration: line-through;
}


/* tables still need 'cellspacing="0"' in the markup */
table {
border-collapse: collapse;
border-spacing: 0;
}
/* a  in the markup */
a{text-decoration: none; cursor:pointer;}
a:link,a:visited ,a:hover,a:active{ text-decoration: none; }


/* a  in the markup */
button, input, select, textarea{border:0; resize: none;}
a,span{display: inline-block;}


/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 8px;
    height:8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 2px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(153,153,153,0.4);
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.3);
}