body{font-family:"Microsoft YaHei";color: #333;}
.fl{float: left;}
.fr{float: right;}
.banner{width: 100%;height: 415px;position: relative;text-align: center;background: url(../images/about/yytz_banner01.jpg) center top no-repeat;}
.banner a{display: block;width: 278px;height: 60px;line-height: 60px;border: 2px solid #fff; color: #fff;font-size: 24px;text-align: center;position: absolute;top: 300px;left: 50%;margin-left: -141px;letter-spacing:3px; text-decoration: none;}
.company,.zhichi, .teacher,.lianxi,.yygr{width: 1000px;margin:0 auto;}
.company{margin-bottom:15px;}
.company div{width: 100%;}
.company .cpInfo img{display: block;margin: 50px auto;}
.company .cpInfo p{font-size: 14px;line-height: 25px; }
.company .cpImg img{margin: 60px 0 0 20px;}
.srv{width: 100%;height: 400px;background: url(../images/about/bg_srv.png) repeat-x;}
.srv img{display: block;margin:0 auto;}
.teacher .t_img{width:1000px;text-align:center;}
.teacher .fxs{
	margin-top:25px;
}
.fxs .fxs_top{
	height:121px;
}
.fxs .name{
	font-size:18px;
	margin-top:15px;
	font-weight:bold;
	color:#b18a5a;
	float:left;
	padding-top:15px;
	display:none;
}
.fxs .text{
	font-size:14px;
	margin-top:15px;
	line-height:25px;
}

.footer{height: 100px;line-height: 25px;background: #999;text-align: center;font-size: 14px;color: #fff;padding-top:44px;}
.footer p{display: inline;padding:10px;}
.footer a{padding:5px;color: #fff;}
.footer .ff{
	width:1100px;
	margin:0 auto;
	
}
.clear{clear:both;}
.zhichi  img{display: block;margin: 50px auto;}
.zhichi  p{font-size: 14px;line-height: 25px; }


.zhaopin .info{width:1000px;margin:0 auto;font-size:18px;margin-bottom:20px;}
.zhaopin .info th{font-size:18px;text-align:left;height:25px}
.zhaopin .info td{font-size:15px;text-align:left;height:25px;line-height:25px;}

.imgg img{display: block;margin:50px auto;}
.lianxi .dizhi{
	font-size:15px;
	line-height:25px;
}

