body {
	margin:0px;
	padding:0px;


}

html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td, img, a {
	margin: 0;
	padding: 0;
	border:none;
}
img {
	border: 0 none;
	vertical-align: top;
}
input {
	vertical-align:middle;
}
ul, li {
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 14px;
}
body, input, select, button, textarea {
	font-size: 12px;
	font-family: '宋体', Simsun;
}
button {
	cursor: pointer;
}
i, em, cite {
	font-style: normal;
}
body {
	color: #444;
}
a {
	color:#444;
	text-decoration:none;
	cursor: pointer;
}
a:visited {
	text-decoration:none;
}
a:hover {
	color:#ba2636;
	text-decoration:underline;
}
a:active, a:hover {
	color:#ba2636;
}
a:focus {
	outline: none;
}
.clear{
	clear:both;
}